body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.progress-container {
    width: 100%;
    height: 58px;
    background-color: #f1f1f1;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    position: relative;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
